.FullComment {
    background-color: #e0e7ff;
    color: #4338ca;
    border-radius: 5px;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 20px 15px;
    
}