.App {
  text-align: center;
}
.mainComp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 251, 182);
}
.oneComp{
  background-color: rgb(113, 207, 230);
  margin: 1rem;
  width: 200px;
  height: 90px;
  border-radius: 5px;
  padding: 0.5rem;
}
.paginateComp {
  background-color: red;
  display: flex;

}
.paginateComp button {
 margin-left: 1rem;
 padding: 0.5rem;
}


